*{
    margin:0;
    padding:0;
}

/*common shared style*/
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/*header related style*/
.head{
    background-color:rgba(229, 84, 115, 0.10);
    padding-left: 238px;
    padding-right: 238px;
    margin-bottom: 128px;
}

.banner{
    display:flex;
    justify-content: space-between;
}

.header-div{
    padding-top: 195px;
    padding-bottom: 150px;
}
.head-style{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    display: flex;
    width: 708px;
    flex-direction: column;
}

.head-description{
    padding:32px 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn{
    padding:20px 43px;
    color: #FFF;
    border-radius: 5px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;

}

.header-img{
    padding-top: 50px;
    width: 630px;
    height: 720px;
}

/*section 3 hot deal*/

.hot-div{
    display:flex;
    justify-content: space-evenly;
    width: 1922px;
    height: 620px;
    align-items: center;
    
}
.hot-deal-section{
    padding:230px 186px 162px 380px;
    text-align: center;
}
.section-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 0;
    text-align: center;
}
.btn-hot-deal{
    padding:20px 43px;
    color: #FFF;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;

}
.hot-deal-img{
    padding: 100px 429px 100px 0;
    width: 318px;
    height: 420px;
}
.about-flower{
    padding-left: 238px;
    padding-right: 238px;
    margin-bottom: 128px;
}

#some-text{
    display:flex;
    text-align: center;
    padding: 24px 300px 48px 300px;
   
}

.about-flower-image{
   display:flex;
   justify-content: space-between;
}

.lat-deal{
    padding-left: 238px;
    padding-right: 238px; 
}


.latest-sec-div{
    padding-top:122px;
    background-image:url(image/Rectangle\ 9.png);
    background-repeat: no-repeat; 
    max-width: 100%;
    max-height: 100%;
    display: block; 
}

#title{
    padding-bottom:16px;
}

#descript{
    padding-top:0;
    padding-bottom:48px;
}

.input{
    display:flex;
    justify-content:center;
}
#email{
    text-indent:30px;
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
}

.lat-but{
    margin-left:16px;
    padding:20px 43px;
    color: #FFF;
    border-radius: 5px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
}

